<!--header-->
<header class="p-3 d-flex justify-content-center bg-dark text-center text-white">
  <h3 class="">Projet Data_Football</h3>
</header>
<main class="container-fluid">
  <div class="d-flex row">
    <div class="col-2  p-5">
      <app-championships></app-championships>
    </div>
    <div class ="col-10 p-5">
      <app-statistique></app-statistique>
      <app-graphique-2></app-graphique-2>
      <app-graphique-3></app-graphique-3>
    </div>
  </div>

  
</main>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-1">
    <!-- Section: Teams -->
    <section class="m-2">
      <div>Collaborateurs</div>
      <div class="row">
        <div class="col-3">
          <div>Laraj Saad</div>
          <a>GITHUB</a>
        </div>
        <div class="col-3">
          <div>MIlla Robin</div>
          <a>GITHUB</a>
        </div>
        <div class="col-3">
          <div>Ozdemir Andy</div>
          <a>GITHUB</a>
        </div>
        <div class="col-3">
          <div>Chelvi-Sandin Benjamin</div>
          <a>GITHUB</a>
        </div>


      </div>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="">DataFootProject.com</a>
  </div>
</footer>



<router-outlet />