.zoom:hover{
    /* font-size: larger; */
    opacity: 1;
    /* transform: scale(1.1); */
    font-weight: bolder;
}

.team{
    opacity : 0.8;
}

.championnat{
    position: relative; bottom: 20px;
}