.zoom:hover{
    /* font-size: larger; */
    opacity: 1;
    /* transform: scale(1.1); */
    font-weight: bolder;
}

.stat{
    opacity : 0.8;
}

.periode{
    opacity : 0.8;
}

.periode:hover{
    opacity: 1;
    /* transform: scale(1.1); */
    font-weight: bolder;
}

.periode:active{
    transform: scale(1.1);
}