<div class="text-center mb-3">
  <div>
    <div class="d-flex">Infos récupérés par les observables</div>
    <div class="d-flex">
      <div>Nom de l'équipe :</div>
      <div #name>Nom de l'équipe-obs</div>
    </div>
    <div class="d-flex">
      <div>Periode:</div>
      <div class="text-center">{{ selectedPeriodeValue }}</div>
    </div>
    <div class="d-flex">
      <div>Stats :</div>
      <div class="text-center">{{ selectedStatistiqueValue }}</div>
    </div>
  </div>
</div>
<div class="d-flex row  justify-content-around">
  <div class="col-8 object-fit-contain">
    <app-graphique></app-graphique>
  </div>
  <div class="col-2 border border-dark">
    <div #stat1 [ngClass]="{'selected-text-stat': selectedStatStates[0]}" (click)="selectionChanged('Statistique', 'Buts marqués', 0, 'selectedStatStates')">
      <div class="text-center">Buts marqués</div>
    </div>
    <div #stat2 [ngClass]="{'selected-text-stat': selectedStatStates[1]}" (click)="selectionChanged('Statistique', 'Ratio', 1, 'selectedStatStates')">
      <div class="text-center">Ratio</div>
    </div>
    <div #stat3 [ngClass]="{'selected-text-stat': selectedStatStates[2]}" (click)="selectionChanged('Statistique', 'Buts marqués par joueur', 2, 'selectedStatStates')">
      <div class="text-center">Buts marqués par joueurs</div>
    </div>
    
  </div>
</div>


<div class="d-flex justify-content-center row mt-3">
  <div #div1 [ngClass]="{'selected-text': selectedPeriodeStates[0],'selected-background': selectedPeriodeStates[0] }" (click)="selectionChanged('Période', 'Dernier match', 0, 'selectedPeriodeStates')" class="col-2 border border-dark">
    <div class="text-center">Dernier match</div>
  </div>
  <div #div2 [ngClass]="{'selected-text': selectedPeriodeStates[1], 'selected-background': selectedPeriodeStates[1]}" (click)="selectionChanged('Période', 'Dernier mois', 1, 'selectedPeriodeStates')" class="col-2 border border-dark">
    <div class="text-center">Dernier mois</div>
  </div>
  <div #div3 [ngClass]="{'selected-text': selectedPeriodeStates[2], 'selected-background': selectedPeriodeStates[2]}" (click)="selectionChanged('Période', 'Dernier six mois', 2, 'selectedPeriodeStates')" class="col-2 border border-dark">
    <div class="text-center">Dernier six mois</div>
  </div>
  <div #div4 [ngClass]="{'selected-text': selectedPeriodeStates[3], 'selected-background': selectedPeriodeStates[3]}" (click)="selectionChanged('Période', 'Dernier saison', 3, 'selectedPeriodeStates')" class="col-2 border border-dark">
    <div class="text-center">Dernier saison</div>
  </div>
</div>
