
<div class="d-flex justify-content-center mb-4">
    <h2>{{selectedClub}}</h2>
</div>
<div  class="mt-4"  *ngIf="selectedStatistique=='Buts marqués'">
    <ngx-charts-line-chart
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Matchs"
        yAxisLabel="Nombre de Buts"
        [results]="graphDataGoals"
        [showGridLines]="false"
        [scheme]="'forest'"
    >
    </ngx-charts-line-chart>
</div>
<div *ngIf="selectedStatistique=='Ratio'">
    <ngx-charts-pie-chart
      [results]=""
      [gradient]="true"
      [labels]="true"
      [doughnut]="false"
      >
    </ngx-charts-pie-chart>
</div>
<div *ngIf="selectedStatistique=='Buts marqués par joueur'">
    <ngx-charts-line-chart
        [xAxis]="true"
        [yAxis]="true"

        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Matchs"
        yAxisLabel="Nombre de Buts"
        [results]=""
    >
    </ngx-charts-line-chart>
</div> 
<!-- <div>
    <div class="d-flex">Infos récupérés par les observables</div>
    <div class="d-flex">
        <div>Nom de l'équipe :</div>
        <div class="text-center">{{selectedClub}}</div>
    </div>
    <div class="d-flex">
        <div>Periode:</div>
        <div class="text-center">{{ selectedPeriode }}</div>
    </div>
    <div class="d-flex">
        <div>Stats :</div>
        <div class="text-center">{{ selectedStatistique }}
    </div>
</div> -->
